{% extends 'base.html' %}
{% load static %}

{% block title %} Contact Us - {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}

{% block content %}
<!-- site__body -->
<div class="site__body">
  <div class="block about-us">
      <div class="about-us__image"></div>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 col-xl-10">
                  <div class="about-us__body">
                      <h1 class="about-us__title">About Us</h1>
                      <div class="about-us__text typography">
                          {{ setting.aboutus | safe }}
                      </div>
                      <div class="about-us__team">
                          <h2 class="about-us__team-title">Meat Our Team</h2>
                          <div class="about-us__team-subtitle text-muted">Want to work in our friendly
                              team?<br><a href="/contact">Contact us</a> and we will consider your
                              candidacy.</div>
                          <div class="about-us__teammates teammates">
                              <div class="owl-carousel">
                                  <div class="teammates__item teammate">
                                      <div class="teammate__avatar">
                                          <img src="{{ setting.img_team1.url }}" alt="">
                                      </div>
                                      <div class="teammate__name">{{ setting.team1 }}</div>
                                      <div class="teammate__position text-muted">{{ setting.position1 }}</div>
                                  </div>
                                  <div class="teammates__item teammate">
                                      <div class="teammate__avatar">
                                          <img src="{{ setting.img_team2.url }}" alt="">
                                      </div>
                                      <div class="teammate__name">{{ setting.team2 }}</div>
                                      <div class="teammate__position text-muted">{{ setting.position2 }}</div>
                                  </div>
                                  <div class="teammates__item teammate">
                                      <div class="teammate__avatar">
                                          <img src="{{ setting.img_team3.url }}" alt="">
                                      </div>
                                      <div class="teammate__name">{{ setting.team3 }}</div>
                                      <div class="teammate__position text-muted">{{ setting.position3 }}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- site__body / end -->
{% endblock %}