<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %} My Home Page {% endblock %}</title>
    <meta name="description" content="{% block description %} Home description {% endblock %}">
    <meta name="keywords" content="{% block keywords %} Home keywords {% endblock %}">
    <link rel="icon" type="image/png" href="static/images/favicon.png"><!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"><!-- css -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/photoswipe/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/photoswipe/default-skin/default-skin.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- font - fontawesome -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}"><!-- font - stroyka -->
    <link rel="stylesheet" href="{% static 'fonts/stroyka/stroyka.css' %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-8"></script>

    <!-- JQuery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- Alertify CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Alertify Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-97489509-8');</script>
      {% block head %} {% endblock %}
  </head>

<body>
    {% include 'header.html' %}
    {% block sidebar %} {% endblock %}
    {% block slider %} {% endblock %}
    {% block content %} {% endblock %}

    {% block footer %} {% endblock %}


    <!-- Alertify JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
    {% for message in messages %}
        {% if message.tag == 'success' %}
            alertify.set('notifier','position', 'top-right');
            alertify.success('{{ message | safe }}');
        {% elif message.tags == 'info'%}
            alertify.set('notifier','position', 'top-right');
            alertify.info('{{ message | safe }}');
        {% elif message.tags == 'warning'%}
            alertify.set('notifier','position', 'top-right');
            alertify.warning('{{ message | safe }}');
        {% elif message.tags == 'error'%}
            alertify.set('notifier','position', 'top-right');
            alertify.error('{{ message | safe }}');
        {% endif %}
    {%  endfor %}
    </script>
</body>
</html>
