{% extends 'base.html' %}
{% load static %}

{% block title %} Order Products List {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}

{% block content %}

<!-- site__body -->
<div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow"
                                        width="6px" height="9px">
                                        <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg></li>
                                <li class="breadcrumb-item"><a href="">Breadcrumb</a> <svg class="breadcrumb-arrow"
                                        width="6px" height="9px">
                                        <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg></li>
                                <li class="breadcrumb-item active" aria-current="page">Order Product List</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="page-header__title">
                        <h1>Order Product List</h1>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3 d-flex">
                            {% include 'user_panel.html' %}
                        </div>
                        <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Order Product List</h5>
                                </div>
                                <div class="card-divider"></div>
                                <div class="card-table">
                                    <div class="table-responsive-sm">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Qty</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th>Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for cart in order_product %}
                                                <tr style="font-size:12px">
                                                    <td class="cart-table__column cart-table__column--image">
                                                        <div class="product-image">
                                                            <a href="/product/{{ cart.product.id }}/{{ cart.product.slug }}" class="product-image__body">
                                                                <img class="product-image__img" src="{{ cart.product.image.url }}" alt="">
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>{{ cart.product.title }}</td>
                                                    <td>{{ cart.price }}</td>
                                                    <td>{{ cart.quantity }}</td>
                                                    <td>{{ cart.amount }}</td>
                                                    <td>{{ cart.status }}</td>
                                                    <td>{{ cart.create_at }}</td>
                                                    <td><a class="btn btn-primary btn-sm product-card__addtocart" type="button" style="font-size:12px" href="/user/order_product_detail/{{ cart.id }}/{{ cart.order.id }}">Details</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-divider"></div>
                                <div class="card-footer">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled"><a class="page-link page-link--with-arrow"
                                                href="" aria-label="Previous"><svg
                                                    class="page-link__arrow page-link__arrow--left" aria-hidden="true"
                                                    width="8px" height="13px">
                                                    <use xlink:href="images/sprite.svg#arrow-rounded-left-8x13"></use>
                                                </svg></a></li>
                                        <li class="page-item"><a class="page-link" href="">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="">2 <span
                                                    class="sr-only">(current)</span></a></li>
                                        <li class="page-item"><a class="page-link" href="">3</a></li>
                                        <li class="page-item"><a class="page-link page-link--with-arrow" href=""
                                                aria-label="Next"><svg class="page-link__arrow page-link__arrow--right"
                                                    aria-hidden="true" width="8px" height="13px">
                                                    <use xlink:href="images/sprite.svg#arrow-rounded-right-8x13"></use>
                                                </svg></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- site__body / end -->

{% endblock %}