<div class="account-nav flex-grow-1">
    <h4 class="account-nav__title">Navigation</h4>
    <ul>
        <li class="account-nav__item account-nav__item--active"><a
                href="/user">Dashboard</a></li>
        <li class="account-nav__item"><a href="/user/user_update">Edit Profile</a></li>
        <li class="account-nav__item"><a href="account-orders.html">Order History</a></li>
        <li class="account-nav__item"><a href="account-order-details.html">Order Details</a>
        </li>
        <li class="account-nav__item"><a href="account-addresses.html">Addresses</a></li>
        <li class="account-nav__item"><a href="/user/address_update">Edit Address</a>
        </li>
        <li class="account-nav__item"><a href="/user/password">Password</a></li>
        <li class="account-nav__item"><a href="account-login.html">Logout</a></li>
    </ul>
</div>