{% extends 'base.html' %}
{% load static %}

{% block title %} Password Reset Sent{{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}

{% block content %}
<!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a> <svg class="breadcrumb-arrow"
                                width="6px" height="9px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg></li>

                        <li class="breadcrumb-item active" aria-current="page">Password Reset Sent</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
<!--                <h1>Password Reset</h1>-->
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
<!--                <center>-->
                    <div class="col-md-12 d-flex">
                        <div class="card flex-grow-1 mb-0">
                            <div class="card-body">
                                <center><h3 class="card-title">Password Reset Sent</h3>
                                <p>We've emailed you instructions for setting your password, if an account with this email exists, you should receive them shortly</p>
                                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder</p></center>
                            </div>
                        </div>
                    </div>
<!--                </center>-->
            </div>
        </div>
    </div>
</div>
<!-- site__body / end -->
{% endblock %}